body{
    font-family: 'Edu SA Beginner', sans-serif;
    font-size: x-large;
}

.navbar-custom {
    background-color: #5F7039;
    
}

.navbar-custom a{
    color: white;
}

.btn{
    border: none;
    background-color: #5F7039;
}

.card .btn:hover{
    background-color: #4f5f2e;
    transform: none;
    transform: scale(1.1);
}

.btn{
    color: white;
}

.btn:hover{
    background-color: #4f5f2e;
    color: white;
}

.btn:active:focus{
    color: white;
    background-color: #323c1d;
}